<!-- <%- include('./partitions/sidebar.ejs') %> -->
<div class="col-9 grid-margin stretch-card">
  <div class="content-right">
    <div class="top">
      <h5 class="fw-light text-center text-success  text-uppercase">View product</h5>
      <!-- <%- include('./messages/success.ejs') %> -->
  </div>
    <div class="card border-0">
      <div class="card-body">
        <h4 class="card-title">Striped Table</h4>
        <p class="card-description"> Add class <code>.table-striped</code> </p>
        <a href="/Admin/addNews" class="btn-add fw-light float-end shadow-none"><ion-icon name="add-outline"></ion-icon></a>
        <table class="table table-striped mt-2">
          <thead>
            <tr style="font-size: 15px;text-align: center;">
              <th>By Admin</th>
              <th> Title </th>
              <th> Type </th>
              <th> Category </th>
              <th>Thumbnail</th>
              <th>Uploaded at</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  </div>